#shiela {
  background-color: #ffe4e1;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  line-height: 1.5;
  color: black;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
}

p {
  color: #8f8f8f;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Lora';
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 3%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0%;
}


.Roses {
  width: 100%;
  transform: rotate(15deg);
  right: 20;
}


/* Feature section */
#features {
  padding: 7% 15;
  background-color: white;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #F68989;
  margin: 1rem;
}

.icon:hover {
  color: #FF5C8D;
}


/* Testimonial section */
#testimonials {
  text-align: center;
  background-color: #ffe4e1;
  color: black;
}

.carousel-item {
  padding: 7% 15%;
}

.testemonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}


/* Press section */
#press {
  background-color: #ffe4e1;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  text-align: center;
  padding: 3% 2%;
}

.btn {
  font-size: 1rem;
}


/* Call to Action Section */
#cta {
  background-color: #FFAFAF;
  text-align: center;
  padding: 7% 15%;
}

.cta-container {
  padding-bottom: 3%;
}

.cta-title {
  font-size: 3rem;
}

.download-button2 {
  margin: 2% 1%;
}

  /* Footer Section */
  #footer {
    text-align: center;
    padding: 5% 15%;
  }

  .footer-container {
    padding: 5% 0 0.5% 0;
  }

  .Media-icons {
    font-size: 1rem;
    color: gray;
    margin-left: 6px;
  }

  .copyright {
    font-size: 1.2rem;
  }


  /* Media Query */
  @media (max-width:1028px) {
    #shiela {
      text-align: center;
    }

    .container-fluid {
      padding: 3% 15%;
    }

    .Roses {
      transform: rotate(0);
      position: static;
      width: 100%;
      padding-top: 7%;
    }

    .navbar-brand {
      font-size: 1.5rem;
    }

    .nav-link {
      font-size: 1rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    body {
      font-size: 0.9rem;
    }

    .download-button {
      margin: 2% 2%;
      font-size: 0.7rem;
    }

    #features {
      padding: 3% 5%;
    }

    .feature-box {
      padding: 2%;
    }

    .icon {
      font-size: 1rem;
    }

    .icon:hover {
      font-size: 3.5rem;
    }

    .testemonial-image {
      width: 10%;
    }

    .press-logo {
      width: 10%;
      margin: 20px 20px 50px;
    }

    .pricing-column {
      text-align: center;
      padding: 2% 1%;
    }

    .btn {
      font-size: 0.8rem;
    }

    .cta-title {
      font-size: 1.8rem;
    }

    .download-button2 {
      margin: 2% 2%;
      font-size: 0.7rem;
    }

    .Media-icons {
      font-size: 0.8rem;
      margin-left: 6px;
    }

    .copyright {
      font-size: 0.9rem;
    }

  }
